# Auto detect text files and perform LF normalization
* text=auto


# Don't count these languages into the statistics by: ChatGPT
christmas/ios/** linguist-vendored
christmas/android/** linguist-vendored
christmas/linux/** linguist-vendored
christmas/macos/** linguist-vendored
christmas/windows/** linguist-vendored
christmas/cpp/** linguist-vendored
christmas/cmake/** linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.c linguist-vendored
*.cmake linguist-vendored
